<header class="jumbotron subhead" id="overview">
	<h1>Admin</h1>
	<p class="lead">Displaying all user records that are not paid</p>
</header>

<table class = "table table-striped">
	<thead>
	<tr>
	<th>ID</th>
	<th>Username</th>
	<th>Annotations</th>
	<th>Old Annotation Count</th>
	<th>New Annotation Count</th>
	<th>MD5 [Hash, # Annotations, Paid?]</th>
	</tr>
	</thead>
	<tbody>
		<%= form_tag(admin_submit_path, :id => "admin") do %>
			<% @all_user.each do |r| %>
				<% if User.check_not_paid(r.md5) %>
					<tr>
						<th><%= r.id %></th>
						<th><%= r.username %></th>
						<th style="word-wrap: break-word">
							<% r.annotations.keys.each do |k| %>
								<p><%= k %> ==> <%= Annotation.admin_display("114!115!116!189!190!196!197!198!199!217!218!219!264!265!") %></p>
							<% end %>
						</th>
						<th>
							<% if r.old_annotation_count %>
								<%= r.old_annotation_count %>
							<% else %>
								<%= 'Nil' %>
							<% end %>
						</th>
						<th>
							<% if r.new_annotation_count %>
								<%= r.new_annotation_count %>
							<% else %>
								<%= 'Nil' %>
							<% end %>
						</th>
						<th>
							<% r.md5.each do |m| %>
								<p><%= m %></p>
							<% end %>
						</th>
						<th>
							<%= check_box_tag("chk_paid[]", value="#{r.id}", checked=false) %>
						</th>
					</tr>
				<% end %>
			<% end %>
			<%= submit_tag("Set selected to Paid", :id => "btnSubmit", :class => "btn btn-primary") %>
		<% end %>
	</tbody>
</table>