<header class="jumbotron subhead" id="overview">
	<h1>Annotate</h1>
	<p class="lead">To annotate, read citing context on the left, and 'click' to select those lines you think are the cited information.</p>
	<p>
		<% if signed_in? %>
			Hi <strong><%= current_user.username %></strong>, you're looking at <strong><%= session[:current_cite].cite_key %></strong><br>
			You have annotated for: <strong><%= (current_user.new_annotation_count ? current_user.new_annotation_count : 0) %></strong> record(s)
		<% end %>
	</p>
</header>

<div class="row">
	<div class="span4">
		<h3>Citing Paper / Context <small>(See <%= link_to "original", Annotation.citing_pdf_link(session[:current_cite].cite_key), :target => "_blank" %>)</small></h3>
		<% if !session[:current_cite].context %>
		<div id='noContext' class='alert alert-success'>
			<strong>Oops! We were unable to show you the specific part where the citation was made. You can look at the original by clicking on the link above this message.</strong>
		</div>
		<% end %>
		<div class="well">
			<%= Annotation.context(session[:current_cite]) %>
		</div>
		<p>
			# Want to see more context? Read the original paper <%= link_to "here", Annotation.citing_pdf_link(session[:current_cite].cite_key), :target => "_blank" %>.
			<br>
			# The in-text citation is in <b>bold</b>.
		</p>
	</div>
	
	<div class="span8">
		<h3>Cited Paper <small>(See <%= link_to "original", Annotation.cited_pdf_link(session[:current_cite].cite_key), :target => "_blank" %>)</small></h3>
		<%= form_tag(annotate_submit_path, :id => "cited", :class => "well") do %>
			<p>
				<%= label_tag("Choose the type of the citation:")%>
				<%= radio_button("type", "choice", "General", :onClick => "clickDisable()") %> General [<a href="#" rel="tooltip" data-original-title="The citing paper refers to the cited paper as a whole, not specifically referring to a particular section.">?</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= radio_button("type", "choice", "Specific", :onClick => "clickEnable()", :checked => true) %> Specific [<a href="#" rel="tooltip" data-original-title="The citing paper refers a specific/particular line or section of the cited paper.">?</a>]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= radio_button("type", "choice", "Undetermined", :onClick => "clickDisable()") %> Undetermined [<a href="#" rel="tooltip" data-original-title="When there is not enough information to determine the type of citation.">?</a>]
			</p>
			How do I annotate [<a href="#" rel="popover" data-content="To annotate, simply read the context on the left, and then click and select the lines in this cited paper that you think is the referred information." data-original-title="">?</a>]
			(Scroll and read this cited paper for the cited information)
			<div id='hiddenText' class='alert alert-success'>
				<strong>You have selected General or Undetermined, the cited paper is now disabled from selections</strong>
			</div>
			<div id="citedPaper" style="position:relative; 
			 left:0px;
			 top:0px;
			 width:100%;
			 height:300px;
			 background-color:#ffffff;
			 overflow:auto;">
			<%= Annotation.cited(session[:current_cite].cite_key) %>
			</div>
			<br>
			<% if session[:annotate_error] %>
				<%= session[:annotate_error] %>
				<%= session[:annotate_error] = nil %>
			<% end %>
			<%= submit_tag("Submit Annotations", :id => "btnSubmit", :class => "btn btn-primary") %>
		<% end %>
	</div>
</div>

<script>
// document.getElementById('noContext').hidden = true
document.getElementById('hiddenText').hidden = true
content_holder = document.getElementById('citedPaper');
for(var i=0;i<content_holder.children.length;i++) {
	(function() {
		var d = content_holder.children[i];

		d.input_field = document.createElement("input");
		d.input_field.value = 'y'
		d.input_field.name = 'selection['+(i+1)+']';
		d.input_field.type = 'hidden';

		d.selected = false;
		d.onclick = function() {
			if (d.disabled) return;
			d.selected = !d.selected;
			if(d.selected){
				d.style.backgroundColor = '#FFFFAA';
				d.appendChild(d.input_field);
			}
			else {
				d.style.backgroundColor = '#FFFFFF'
				d.removeChild(d.input_field);
			}
		}
	})();
}

function clickDisable() {
	content_holder = document.getElementById('citedPaper')
	// content_holder.style['overflow'] = "hidden"
	// content_holder.style['backgroundColor'] = "#CCCCCC"
	document.getElementById('hiddenText').hidden = false
	toggleDisabled(content_holder);
}

function clickEnable() {
	content_holder = document.getElementById('citedPaper')
	// content_holder.style['overflow'] = "auto"
	// content_holder.style['backgroundColor'] = "#FFFFFF"
	document.getElementById('hiddenText').hidden = true
	toggleEnabled(content_holder);
}

function toggleEnabled(el) {
	try {
		el.disabled = false
	}
	catch(E){
		alert("Error!")
	}
	if (el.childNodes && el.childNodes.length > 0) {
		for (var x = 0; x < el.childNodes.length; x++) {
			toggleEnabled(el.childNodes[x]);
		}
	}
}

function toggleDisabled(el) {
	try {
		el.disabled = true
	}
	catch(E){
		alert("Error!")
	}
	if (el.childNodes && el.childNodes.length > 0) {
		for (var x = 0; x < el.childNodes.length; x++) {
			toggleDisabled(el.childNodes[x]);
		}
	}
}
</script>