<header class="jumbotron subhead" id="overview">
	<h1>Annotate <small>(Work in Progress)</small></h1>
	<p class="lead">We are working on an easier and more convenient way to annotate. Please come back again!</p>
	<p>
		<% if signed_in? %>
			<h3>Hi <%= current_user.username %>,</h3>
		<% end %>
		<!-- You're looking at <strong><%= @current_key %></strong><br> -->
		You're looking at <strong><%= session[:current_cite].cite_key %></strong><br>
	</p>
</header>

<div class="row">
	<div class="span4">
		<h3>Citing Paper / Context <small>(See <%= link_to "#{@current_key.split("==>")[0]}.pdf", Citees.citing_pdf_link(@current_key), :target => "_blank" %>)</small></h3>
		<div class="well">
			<%= Citees.citing(@current_key) %>
		</div>
	</div>
	
	<div class="span8">
		<h3>Cited Paper <small>(See <%= link_to "#{@current_key.split("==>")[1]}.pdf", Citees.cited_pdf_link(@current_key), :target => "_blank" %>)</small></h3>
		<%= form_tag(annotate_submit_path, :id => "cited", :class => "well") do %>
		<div id="citedPaper" style="position:relative; 
		 left:0px;
		 top:0px;
		 width:100%;
		 height:300px;
		 background-color:#ffffff;
		 overflow:auto;">
		<%= Citees.cited(@current_key) %>
		</div>
		<br>
		<%= radio_button("type", "choice", "General") %> General
		<%= radio_button("type", "choice", "Specific", :checked => "checked") %> Specific
		<%= radio_button("type", "choice", "Undetermined") %> Undetermined
		<br>
		<br>
		<% if session[:annotate_error] %>
			<%= session[:annotate_error] %>
		<% end %>
		<%= submit_tag("Submit Annotations", :id => "btnSubmit", :class => "btn btn-primary") %>
		<% end %>
	</div>
</div>

<script>
content_holder = document.getElementById('citedPaper');
for(var i=0;i<content_holder.children.length;i++) {
	(function() {
		var d = content_holder.children[i];

		d.input_field = document.createElement("input");
		d.input_field.value = 'y'
		d.input_field.name = 'selection['+(i+1)+']';
		d.input_field.type = 'hidden';

		d.selected = false;
		d.onclick = function() {
			d.selected = !d.selected;
			if(d.selected){
				d.style.backgroundColor = '#FFFFAA';
				d.appendChild(d.input_field);
			}
			else {
				d.style.backgroundColor = '#FFFFFF';
				d.removeChild(d.input_field);
			}
		}
	})();
}
</script>