<header class="jumbotron subhead" id="overview">
	<h1>Upload <small>(Work in Progress)</small></h1>
	<p class="lead">To upload annotations you made for this task.</p>
</header>
<!-- <h2>Sorry! This page is still under construction!</h2> -->
<div class="row">
	<div class="span4">
		<%= form_tag(upload_data_path, :class => "well") do %>
		  <%= label_tag(:q, "Matric/MTurk ID") %>
			<!-- <input type="text" class="span3" placeholder="Type something…"> -->
		  <%= text_field_tag(:user, nil, :placeholder => 'User') %>
		  <%= label_tag(:q, "Annotation") %>
		  <%= text_area_tag(:annotation, nil, :placeholder => 'Annotation', :class => "input-xlarge", :rows => "10") %><br>
		  <%= submit_tag(:Submit, :class => "btn btn-primary") %>
		<% end %>
	</div>
</div>